@charset "utf-8";
body{
	width: 1366px;
	height: 768px;
	margin: 0 auto;
}
* {
    padding: 0px;
    margin: 0px;
}
#header {
    width: 1366px;
    height: 100px;
    margin: 0px auto;
}
#logo {
    margin-top: 37px;
    margin-left: 61px;
    float: left;
}
.nav {
    padding-top: 47px;
    position: relative;
    right: 37px;
}
#header ul {
    float: left;
    list-style-type: none;
    font-size: 22px;
    font-family: Microsoft YaHei UI;
    font-weight: 400;
    line-height: 28px;
    color: rgba(0,0,0,1);
    opacity: 1;
}
#header li {
    display: inline;
    margin-left: 82px;
}
#header ul li a {
    text-decoration: none;
}
#header ul li a:link {
    color: #000000;
}
#header ul li a:hover {
    color: #888888;/*background-image: url("../image/button1.png");*//*background-repeat: no-repeat;*/
}
.search {
    width: 412px;
    height: 47px;
    margin-left: 65px;
    float: left;
    position: relative;
    bottom: 10px;
    right: 37px;
}
.search input {
    width: 392px;
    height: 47px;
    background: rgba(229,229,229,0.41);
    opacity: 1;
    border-radius: 24px;
    border-width: 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(94,120,99,1);
    text-indent: 33px;
}
.search img {
    position: absolute;
    left: 342px;
    bottom: 8px;
}
.header_user {
    float: right;
    margin-right: 91px;
    position: relative;
    bottom: 20px;
}
.header_user img {
    margin-right: 34px;
}
#user_cancel {
    position: relative;
    bottom: 18px;
    text-decoration: none;
    width: 44px;
    height: 28px;
    font-size: 22px;
    font-family: Microsoft YaHei UI;
    font-weight: 400;
    line-height: 28px;
    color: rgba(0,0,0,1);
    opacity: 1;
}
#user_cancel:link {
    color: #000000;
}
#user_cancel:hover {
    color: #888888;/*background-image: url("../image/button1.png");*//*background-repeat: no-repeat;*/
}

.content{
	width: 1360px;
	height: 600px;
	background: #FF0004;
}
.left{
	width: 200px;
	height: 600px;
	background: #F700FE;
}
.post{
	width: 200px;
	height: 200px;
	margin-left: 55px;
	margin-top: 50px;
}
.post img{
	float: left;
}
.p1{
	color: #12C830;
    font-family: Microsoft YaHei UI;
    font-size: 12pt;
	float: left;
	font-weight: Regular;
	margin-left: 20px;
}
li a:hover {
    background: #3EEB37;
    display: block;
}


