*{
    padding: 0px;
    margin: 0px;
}

#header{
    width: 1366px;
    height: 100px;
    margin: 0px auto;
}

#logo{
    margin-top: 37px;
    margin-left: 61px;
    float: left;
}

.nav{
    padding-top: 47px;
    position: relative;
    right: 37px;
}

#header ul{
    float: left;
    list-style-type: none;
    font-size:22px;
    font-family:Microsoft YaHei UI;
    font-weight:400;
    line-height:28px;
    color:rgba(0,0,0,1);
    opacity:1;
}

#header li {
    display: inline;
    margin-left: 82px;
}

#header ul li a{
    text-decoration: none;
}
#header ul li a:link{
    color:#000000 ;
}
#header ul li a:hover{
    color: #888888;
    /*background-image: url("../image/button1.png");*/
    /*background-repeat: no-repeat;*/
}

.search{
    width: 412px;
    height: 47px;
    margin-left: 65px;
    float: left;
    position: relative;
    bottom: 10px;
    right: 37px;

}

.search input{
    width:392px;
    height:47px;
    background:rgba(229,229,229,0.41);
    opacity:1;
    border-radius:24px;
    border-width: 0px;

    font-size:16px;
    font-weight:400;
    line-height:20px;
    color:rgba(94,120,99,1);
    text-indent:33px;
}

.search img{
    position: absolute;
    left: 342px;
    bottom: 8px;
}

.header_user{
    float: right;
    margin-right: 91px;
    position: relative;
    bottom: 20px;
}

.header_user img{
    margin-right: 34px;
}

#user_cancel{
    position: relative;
    bottom: 18px;
    text-decoration: none;
    width:44px;
    height:28px;
    font-size:22px;
    font-family:Microsoft YaHei UI;
    font-weight:400;
    line-height:28px;
    color:rgba(0,0,0,1);
    opacity:1;
}
#user_cancel:link{
    color:#000000 ;
}
#user_cancel:hover{
    color: #888888;
    /*background-image: url("../image/button1.png");*/
    /*background-repeat: no-repeat;*/
}

.container{
    width: 1366px;
    height: 668px;
    margin: 0px auto;
}

.out_body{
    height: 520px;
    width: 1150px;
    margin-top: 60px;
    margin-left: 60px;
    /*margin-bottom: 59px;*/
    /*margin-right: 151px;*/
    position: relative;
}

.colorPiece{
    width:8px;
    height:21px;
    background:rgba(18,200,48,1);
    opacity:1;
    float: left;
}

.basic{
    height:25px;
    font-size:18px;
    font-family:PingFang SC;
    font-weight:400;
    line-height:25px;
    color:rgba(18,200,48,1);
    opacity:1;
    float: left;
}

.clear{
    clear: both;
}


.in_body{
    margin-left: 303px;
    height: 408px;
    width: 564px;

    font-size:14px;
    font-family:PingFang SC;
    font-weight:400;
    line-height:20px;
    color:rgba(18,200,48,1);
    position: relative;
    bottom: 30px;
}

.form1{
    height: 66px;
    width: 100%;
    margin-top: 70px;
}
.form1 input{
    height: 46px;
    width: 100%;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-color: #12C830;
    border-bottom-width: 1px;
}


.confirm_the_change{
    text-align: center;
    width:184px;
    height:38px;
    background:linear-gradient(90deg,rgba(18,200,48,1) 0%,rgba(251,255,122,1) 100%);
    opacity:1;
    border-radius:28px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.confirm_the_change a{
    line-height: 38px;
    text-decoration:none;
    color: snow;
}

.confirm_the_change a:hover{
    color: #888888;
}