@charset "utf-8";
* {
    padding: 0px;
    margin: 0px;
}
#header {
    width: 1366px;
    height: 100px;
    margin: 0px auto;
}
#logo {
    margin-top: 37px;
    margin-left: 61px;
    float: left;
}
.nav {
    padding-top: 40px;
    position: relative;
    right: 10px;
}
#header ul {
    float: left;
    list-style-type: none;
    font-size: 22px;
    font-family: Microsoft YaHei UI;
    font-weight: 400;
    line-height: 28px;
    color: rgba(0,0,0,1);
    opacity: 1;
}
#header li {
    display: inline;
    margin-left: 82px;
}
#header ul li a {
    text-decoration: none;
}
#header ul li a:link {
    color: #000000;
}
#header ul li a:hover {
    color: #888888;/*background-image: url("../image/button1.png");*//*background-repeat: no-repeat;*/
}
.search {
    width: 412px;
    height: 47px;
    margin-left: 65px;
    float: left;
    position: relative;
    bottom: 10px;
    right: 37px;
}
.search input {
    width: 392px;
    height: 47px;
    background: rgba(229,229,229,0.41);
    opacity: 1;
    border-radius: 24px;
    border-width: 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(94,120,99,1);
    text-indent: 33px;
}
.search img {
    position: absolute;
    left: 342px;
    bottom: 8px;
}
.header_user {
    float: right;
    margin-right: 91px;
    position: relative;
    bottom: 20px;
}
.header_user img {
    margin-right: 34px;
}
#user_cancel {
    position: relative;
    bottom: 18px;
    text-decoration: none;
    width: 44px;
    height: 28px;
    font-size: 22px;
    font-family: Microsoft YaHei UI;
    font-weight: 400;
    line-height: 28px;
    color: rgba(0,0,0,1);
    opacity: 1;
}
#user_cancel:link {
    color: #000000;
}
#user_cancel:hover {
    color: #888888;/*background-image: url("../image/button1.png");*//*background-repeat: no-repeat;*/
}
body {
    padding: 0;
    margin: 0 auto;
    list-style: none;
    width: 1366px;
    height: 768px;
}
ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}
#header {
    width: 1366px;
    height: 100px;
}
#logo {
    float: left;
    width: 172px;
    height: 50px;
}
#logo img {
    margin-left: 61px;
    margin-top: 48px;
}
#nav1 {
    width: 800px;
    height: 50px;
}
#nav1 ul a:hover {
    background-image: url("../image/button1.png");
    background-repeat: no-repeat;
}
#nav1 ul li {
    float: left;
    width: 120px;
    height: 39px;
    margin-top: 60px;
    text-align: center;
    line-height: 39px;
    margin-left: 40px;
}
#nav1 a {
    color: #000000;
    text-decoration: none;
    display: block;
    font-size: 40pt;
    width: 106px;
    height: 39px;
    line-height: 39px;
    margin-right: 238px;
    border-radius: 30px;
}
#block {
    width: 1366px;
    height: 660px;
}
#left {
    width: 800px;
    height: 514px;
    float: left;
    padding-top: 50px;
    padding-left: 70px;
}
#rank {
    width: 379px;
    height: 514px;
    float: left;
    border-radius: 23px;
    border: 1px solid #12C830;
    margin-left: 100px;
    margin-top: 50px;
}
#myswift {
    width: 790px;
    height: 250px;
}
#title {
    color: #12C830;
    font-size: 22pt;
    padding-left: 42px;
    margin-top: 50px;
}
#title2 {
    margin-left: 25px;
}
#foot{
	width: 500px;
	margin-top: 20px;
	margin-left: 20px;
}

.f1{
	height:25px;
    font-size:18px;
    font-family:PingFang SC;
    font-weight:400;
    line-height:25px;
    color:rgba(18,200,48,1);
    opacity:1;
    float: left;
}
.button{
	float: right;
	margin-top: -25px;
}
.t1{
	font-size: 15pt;
    font-family: PingFang SC;
    color: #12C830;
	font-weight: Bold;
}
.title{
	margin-top: 20px;
	margin-left: 15px;
}

.content {
    width: 566px;
    height: 220px;
    margin-left: 90px;
    margin-top: 6px;
}
.c1 {
    color: #000000;
    font-family: Microsoft YaHei UI;
    font-size: 30pt;
}
.c2 {
    color: #ACACAC;
    font-family: PingFang SC;
    font-size: 10pt;
}
.c3 {
    color: #12C830;
    font-family: PingFang SC;
    font-size: 10pt;
	float: right;
}
