@charset "utf-8";
*{
    padding: 0px;
    margin: 0px;
}

video#bgvid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 90%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
}

#header{
    width: 1366px;
    height: 100px;
    margin: 0px auto;
}

#logo{
    margin-top: 37px;
    margin-left: 61px;
    float: left;
}

.nav{
    padding-top: 47px;
    position: relative;
    right: 37px;
}

#header ul{
    float: left;
    list-style-type: none;
    font-size:22px;
    font-family:Microsoft YaHei UI;
    font-weight:400;
    line-height:28px;
    color:rgba(0,0,0,1);
    opacity:1;
}

#header li {
    display: inline;
    margin-left: 82px;
}

#header ul li a{
    text-decoration: none;
}
#header ul li a:link{
    color:#000000 ;
}
#header ul li a:hover{
    color: #888888;
    /*background-image: url("../image/button1.png");*/
    /*background-repeat: no-repeat;*/
}

.search{
    width: 412px;
    height: 47px;
    margin-left: 65px;
    float: left;
    position: relative;
    bottom: 10px;
    right: 37px;

}

.search input{
    width:392px;
    height:47px;
    background:rgba(229,229,229,0.41);
    opacity:1;
    border-radius:24px;
    border-width: 0px;

    font-size:16px;
    font-weight:400;
    line-height:20px;
    color:rgba(94,120,99,1);
    text-indent:33px;
}

.search img{
    position: absolute;
    left: 342px;
    bottom: 8px;
}

.header_user{
    float: right;
    margin-right: 91px;
    position: relative;
    top: 17px;
    right: 100px;
    bottom: 20px;
}


#user_cancel{
    position: relative;
    bottom: 18px;
    text-decoration: none;
    width:44px;
    height:28px;
    font-size:22px;
    font-family:Microsoft YaHei UI;
    font-weight:400;
    line-height:28px;
    color:rgba(0,0,0,1);
    opacity:1;
}
#user_cancel:link{
    color:#000000 ;
}
#user_cancel:hover{
    color: #888888;
    /*background-image: url("../image/button1.png");*/
    /*background-repeat: no-repeat;*/
}


#register {
    POSITION: absolute;
    left: 50%;
    top: 40%;
    width: 486px;
    height: 586px;
    border-radius: 59px;
    margin-left: -250px;
    margin-top: -200px;
    border: 1px solid #888;
    text-align: center;
    background-color: snow;
}

#closeButton{
    position: absolute;
    right: 52px;
    top: 52px;
}

#register_from {
    text-align: left;
    color: #12C830;
    width:auto;
    height: auto;
    margin-left: 54px;
    margin-right: 62px;
    margin-top: 26px;
}

#register_from input{
    border-style: none;
    border-bottom-style: solid;
    border-bottom-color: #12C830;
    border-bottom-width: 1px;
    width: 370px;
    height: 28px;
}
.label{

    height:22px;
    font-size:16px;
    font-family:PingFang SC;
    font-weight:500;
    line-height:22px;
    margin: 0px;
    color:rgba(18,200,48,1);
    opacity:1;
}
#p1{
    position: relative;
    top:140px;
    width: auto;
    height: auto;
    float: left;
    font-size: 12px;
}
#p2{
    position: relative;
    top: 150px;
    width: auto;
    height: auto;
    float: right;
    font-size: 12px;
}
#a1{
    float: right;
    top: 30px;
    left:20px;
    color: snow;
    text-align: center;
    text-decoration: none;
    position: relative;
    width:108px;
    height:38px;
    background:linear-gradient(90deg,rgba(18,200,48,1) 0%,rgba(251,255,122,1) 100%);
    opacity:1;
    border-radius:28px
}
#register_from a:link{
    color: snow;
    /*color: #12C830;*/

}

#register_from a p{
   margin-top: 7px;
}
#get_verefication{
    position: absolute;
    left: 330px;
    bottom: 107px;
}
